box di tugas3.php .container-margin {
    margin-top: 10vh;
    margin-bottom: 10vh;
}

.box-container {
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10 0px rgb(0, 0, 0);
}

.sosial a i {
    font-size: 20px;
    color: black;
}

.form-container {
    padding: 30px;
    margin-top: 5vh;
    margin-bottom: 5vh;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.233);
}
